
// Colores
$primary-color: #0070f3;
$secondary-color: #ffffff;
$error-color: #ef4444;
$warning-color: #f59e0b;

// Colores del gradiente para títulos
$gradient-start: #006AFF;
$gradient-end: #00F9FF;

// Color de fondo para tabs activos
$tab-active-bg: #0060FF;

// Color del placeholder del input
$placeholder-color: #006FEE;

// Espaciado
$spacing-unit: 0.25rem;
$spacing-xs: $spacing-unit * 2; // 0.5rem
$spacing-sm: $spacing-unit * 4; // 1rem
$spacing-md: $spacing-unit * 6; // 1.5rem
$spacing-lg: $spacing-unit * 8; // 2rem
$spacing-xl: $spacing-unit * 12; // 3rem

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;


// Bordes
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;

