@import '@/styles/variables.scss';

.searchButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(90deg, $gradient-start, $gradient-end);
  color: white;
  border: none;
  border-radius: $border-radius-lg;
   font-weight: 500;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;

  &:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 106, 255, 0.4);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

